<div class="container">
    <div class="activity">
        <div class="dialog-title">{{title}}</div>
        <div class="dialog-content">
            <select matNativeControl [compareWith]="compareFn" class="activity-project-select" [(ngModel)]="activity.project">
                <option  class="project-option" *ngFor="let project of projects" [ngValue]="project">
                    <div>
                        {{project.name}}
                    </div>
                </option>
            </select>
            <div class="activity-input-container">
                <div>
                    <textarea class="input desc" placeholder="Aktivität" type="text" [(ngModel)]="activity.description"></textarea>
                </div>
                <div>
                    <input mat-input class="input dura" min="0" title="Dauer" type="number" step=".25" [(ngModel)]="activity.duration">
                </div>
            </div>
        </div>
        <div class="dialog-action">
            <button class="activity-button" (click)="save()">
                Speichern
            </button>
            <button class="activity-button" (click)="close()">
                Schließen
            </button>
        </div>
        <div class="dialog-action">
            <button class="activity-button" (click)="delete()">
                Delete
            </button>
            <button class="activity-button" (click)="copy()">
                Vortag kopiern
            </button>
        </div>
    </div>
</div>