@import 'src/theme.scss';

@include mat-core();

.container{
    height: 100%;
    width: 100%;
}

.settings{
    height: 100%;
    width: 100%;
}

.option-container{
    width: 90%;
    height: calc(100% / 3);
    background-color: mat-color($secondary);
    color: mat-color($primary);
    display: flex;
    justify-content: center;
    align-content: center;
}

.time{
    width: 25%;
    height: 20%;
}

.break{
    width: 25%;
    height: 20%;
}

.description{
    width: 50%;
    height: 20%;
}

.input-container{
    display: block ruby;
    margin: 10%;;
    height: 100%;
}

.input_desc{
    width: 50%;
    text-align: center;
    font-size: 22px;
    height: 50%;
}

.input_value{
    width: 50%;
    text-align: center;
    height: 100%;
}

.confirm{
    justify-content: center;
    align-content: center;
    width: calc(100% / 3);
    width: 100%;
}

.confirm-button{
    background-color: mat-color($primary);
    color: mat-color($secondary);
    height: 30%;
    width: 33%;
    margin-top: 5%;
}
