<div class="container">
    <div class="settings">
        <div class="option-container">
            <div class="time">
                <div class="input-container">
                    <div class="input_desc">Start</div>
                    <input class="input_value" type="time" [(ngModel)]="options.start">
                </div>
                <div class="input-container">
                    <div class="input_desc">Ende</div>
                    <input class="input_value" type="time" [(ngModel)]="options.end">
                </div>
            </div>
            <div class="break">
                <div class="input-container">
                    <div class="input_desc">Pause</div>
                    <input class="input_value" type="int" step=".25" min=".5" [(ngModel)]="options.breakHours">
                </div>
            </div>
        </div>
        <div class="option-container">
            <div class="description">
                <div class="input-container">
                    <div class="input_desc">Default Urlaub Aktivität</div>
                    <input class="input_value" type="text" [(ngModel)]="options.vacDesc">
                </div>
                <div class="input-container">
                    <div class="input_desc">Default Krankheit Aktivität</div>
                    <input class="input_value" type="text" [(ngModel)]="options.sickDesc">
                </div>
            </div>
        </div>
        <div class="option-container confirm">
            <button class="confirm-button" (click)="save()">
                Bestätigen
            </button>
        </div>
    </div>
</div>
