<div class="container">
    <div class="activity">
        <div class="dialog-title">{{activity.project.name}}</div>
        <div class="dialog-content">
            <mat-form-field class="date-range" appearance="fill">
                <mat-label>Zeitraum</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" [(ngModel)]="start">
                  <input matEndDate placeholder="End date" [(ngModel)]="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>              
              <div class="activity-input-container">
                <div>
                    <textarea class="input desc" placeholder="Aktivität" type="text" [(ngModel)]="activity.description"></textarea>
                </div>
                <div class="duration">
                    <select mat-select [(ngModel)]="activity.duration" class="input dura">
                        <option value="8"> Ganzer Tag </option>
                        <option value="4"> Halber Tag </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="dialog-action">
            <div class="action">
                <button class="activity-button" (click)="save()">
                    Speichern
                </button>
            </div>
        </div>
    </div>
</div> 