<div class="container">
    <div class="date">
        {{bookingDay.date | date:'dd.MM.YYYY'}}
    </div>
    <div class="time-overview">
        {{
            currHours +  "H/" + maxHours + "H"
        }}
    </div>
    <div class="times">
        <div class="time">
            <div class="time-desc">
                Start
            </div>
            <input #start type="time" class="time-value" [max]="bookingDay.end" [(ngModel)]="bookingDay.start" (change)="refreshMaxValues()">
        </div>
        <div class="time">
            <div class="time-desc">
                Ende
            </div>
            <input #end type="time" class="time-value" [min]="bookingDay.start" [(ngModel)]="bookingDay.end" (change)="refreshMaxValues()">
        </div>
        <div class="time">
            <div class="time-desc">
                Break
            </div>
            <input #break type="number" step=".25" min="0" [max]="maxBreakHours" class="time-value" [(ngModel)]="bookingDay.breakHours" (change)="refreshMaxValues()">
        </div>
      </div>
    <div class="activities">
        <ng-container *ngFor="let activity of activities">
            <button class="activity" (click)="openActivityWithActivity(activity)" >
                <div class="detail">{{activity.project.name}}</div>
                <div class="detail desc" [title]="activity.description">{{activity.description}}</div>
                <div class="detail">{{activity.duration}}</div>
            </button>
        </ng-container>
        <button mat-button class="activity-button" (click)="openActivity()">
            <mat-icon>
                add
            </mat-icon>
        </button>
    </div>
    <div>
        <button class="bestätigen-button" (click)="saveBookingDay()">
            Bestätigen
        </button>
    </div> 