@import 'src/theme.scss';

@include mat-core();

.container{
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-color: mat-color($primary);
    border-width: 1px;
    border-style:solid;
    color: mat-color($primary);
    text-align: center;
    height: calc(100% - 62px);
}

.date{
    margin: 10px;    
    font-size: 20px;
    height: 30px;
    text-align: center;
}

.activities{
    height: calc(100% - 200px);
}

.activity{
    margin: 10px;
    border-color: mat-color($primary);
    border-width: 1px;
    border-style:solid;
    width: calc(100% - 20px);
    height:100px;
    background-color: mat-color($secondary);
    color: mat-color($primary);
}

.detail{
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    max-height: 100px;
}

.activity-button{
    margin-top: 15px;
    width: 100%;
    background-color: mat-color($secondary);
    color: mat-color($primary);
}

.bestätigen-button{
    color: mat-color($secondary);
    background-color: mat-color($primary);
    height: 50px;
    width: 100%;
    margin-top:10px;
}