@import 'src/theme.scss';

@include mat-core();

.container{
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-color: mat-color($accent);
    border-width: 1px;
    border-style:solid;
    color: mat-color($primary);
    text-align: center;
    height: calc(100% - 62px);
}

.date{
    margin: 10px;    
    font-size: 24px; 
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.time-overview{
    position: relative; 
    font-size: 20px;
}

.times{
    width: 100%;
    margin:10px;
    display:grid;
    justify-content: center;
    align-content: center;
}

.time{
    display: flex;
    width: 80%;
    margin-top:5px;
    margin-bottom:5px;
    font-size: 16px;
}

.time-desc{
    width: 50px;
    margin-right: 10px;
}

input:invalid{
    color: mat-color($warn);
}

.time-value{
    width: calc(100% - 50px);
    text-align: center;
}

.activities{
    height: calc(100% - 260px);
    width: 100%;
    overflow: auto;
}

.activity{
    margin: 10px;
    border-color: mat-color($accent);
    border-width: 1px;
    border-style:solid;
    width: calc(100% - 20px);
    background-color: mat-color($secondary);
    color: black;
}

.detail{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    max-height: calc(100% / 4);
    height: 15px;
}

.detail.desc{
    max-height: 150px;
    height: auto;
}

.activity-button{
    margin-top: 15px;
    width: 100%;
    background-color: mat-color($secondary);
    color: mat-color($primary);
}

.bestätigen-button{
    color: mat-color($secondary);
    background-color: mat-color($primary);
    height: 50px;
    width: 50%;
    margin-top:10px;
}