<div class="container">
    <div class="statistics">
        <div class="filter">
            <ng-container *ngIf="dateIsDefault == true; then default; else custom"></ng-container>
            <ng-template #default>
                <div class="toggle">
                    <button mat-stroked-button class="toggle-button" (click)="changeValue()">Benutzerdefiniert</button>
                </div>
                <div class="date-filter default">
                    <div class="date-picker-container">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="from">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>  
                    </div>
                    <div class="date-picker-container select">
                            <mat-select class="date-picker-select" [(ngModel)]="timeSpan">
                                <mat-option  class="option" *ngFor="let default of defaults" [value]="default.value">
                                    <div>
                                        {{default.desc}}
                                    </div>
                                </mat-option>
                            </mat-select>
                    </div>
                </div>
                <div class="toggle">
                    <button mat-stroked-button class="toggle-button" (click)="getDefaultStats()">Statistik abrufen</button>
                </div>
            </ng-template>
            <ng-template #custom>
                <div class="toggle">
                        <button mat-stroked-button class="toggle-button" (click)="changeValue()">Voreinstellungen</button>
                </div>
                <div class="date-filter custom">
                    <div class="date-picker-container">
                        <mat-date-range-input class="range" [rangePicker]="picker">
                          <input matStartDate placeholder="Start date" [(ngModel)]="from">
                          <input matEndDate placeholder="End date" [(ngModel)]="to">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </div>
                </div>
                <div class="toggle">
                    <button mat-stroked-button class="toggle-button" (click)="getCustomStats()">Statistik abrufen</button>
                </div>
            </ng-template>
        </div>
        <ng-container *ngIf="isSelected == true; then selected; else notSelectedf"></ng-container>
        <ng-template #selected>
            <div class="status">
                <app-work-time-status [stats]="stats"></app-work-time-status>
            </div>
            <div class="confirm">
                <ng-container *ngFor="let bookingDay of bookingDays">
                    <app-work-time-confirm class="time-confirm" [bookingDay]="bookingDay"></app-work-time-confirm>
                </ng-container>
                <ng-container *ngIf="hasBookingDays == true; then hasDays; else noDays"></ng-container>
                <ng-template #hasDays>
                    <div class="confirm-button">
                        <button mat-stroked-button class="toggle-button-confirm" (click)="confirmTimes()">Bestätigen</button>
                    </div>
                </ng-template>
                <ng-template #noDays>
                </ng-template>
            </div>
        </ng-template>
        <ng-template #notSelectedf>
        </ng-template>
    </div>
</div>