<div class="app-container">
  <mat-toolbar class="toolbar">
    <div class="toolbar-item">
      <img class="logo-icon" src="assets/logo.png" alt="sidon GmbH">
    </div>
    <div class="toolbar-item title">
      <div>{{title}}</div>
    </div>
    <div class="toolbar-item slogan">
      <div>Zuhören. Analysieren. Beraten.</div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidnav-container">
    <mat-sidenav class="sidenav" mode="side" opened>
      <ng-container *ngFor="let menuItem of Menu;">
        <ng-container *ngIf="menuItem.id == this.global.currentItem; then thenBlock; else elseBlock"></ng-container>
        <ng-template #thenBlock>
          <div>
            <button mat-fab class="side-button" title="{{menuItem.description}}" [routerLink]="menuItem.route">
              <mat-icon [inline]="true" class="icon current">{{menuItem.name}}</mat-icon>
            </button>
          </div>
          <br/>
        </ng-template>
        <ng-template #elseBlock>
          <div>
            <button mat-fab class="side-button" title="{{menuItem.description}}" [routerLink]="menuItem.route">
              <mat-icon [inline]="true" class="icon">{{menuItem.name}}</mat-icon>
            </button>
          </div>
          <br/>
        </ng-template>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content class="sidnav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>  
  </mat-sidenav-container>
</div>
