@import 'src/theme.scss';

@include mat-core();

.container{
    height: 100%;
    width: 100%;
    background-color: mat-color($secondary);
    color: black;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 20px;

}

.time-work-confirm{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}

.time-confirm{
    margin: 2px;
    display: flex;
    height: calc(100% - 10px);
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.time-confirm-item{
    display: grid;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}


.date{
    width: 20%;
}

.activity{
    width: 100%;
}

.sum{
    width: 20%;
}

.proj{
    width: calc(20% - 20px);
    height: calc(100% - 20px);
}

.desc{
    width: calc(60% - 20px);
    height: calc(100% - 20px);
    text-align: left;
}

.status{
    width: calc(20% - 20px);
    height: calc(100% - 20px);
}