@import 'src/theme.scss';

@include mat-core();

.container{
    width: 350px;
    height: 450px;
    background-color: mat-color($secondary);
    color: mat-color($primary);
    font-size: 16px;
}

.activity{
    margin: 5%;
}

.dialog-title{
    font-size: 28px;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    text-align: center;
    padding-top:30px;
    background-color: mat-color($secondary);
    color: mat-color($primary);
}

.dialog-content{
    background-color: mat-color($secondary);
    color: mat-color($primary);
    width: 80%;
    margin-left: 10%;
}

.date-range{
    font-size: 16px;
    background-color: mat-color($secondary);
    color: mat-color($primary);
}

::ng-deep.mat-datepicker-content {
    background-color: mat-color($secondary);
    color: mat-color($primary);
    border-color: mat-color($primary);
    border-width: 2px;
    border-style: solid;
    margin-right: 75px;
}

.activity-project-select{
    font-size: 24px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: mat-color($primary);
    border-width: 2px;
}

.input{
    margin-top: 10px;
    width: 96%;
    height: 100px;
    text-align: flex;
    border-color: mat-color($primary);
    border-width: 2px;
    resize: none;
    background-color: mat-color($secondary);
    color: mat-color($primary);
}

.duration{    
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top:15px;
}

.input.dura{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.input.dura.desc{
    padding-top: 20px;
    text-align: left;
}

.dialog-action{
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.action{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-button{
    background-color: mat-color($primary);
    color: mat-color($secondary);
    width: 100%;
    margin-top: 20px;
    height: 50px;
}