<div  class="container">
    <div class="time-work-status">
        <div class="desc title">Name of User</div>
        <div class="time-status">
            <div class="time-status-item">
                <div class="desc title">Vertragsdaten</div>
                <div class="flex">
                    <div class="desc">
                        {{stats.timeSpan}}
                    </div>
                    <div class="desc">
                        {{stats.hoursPerWeek}}H/W
                    </div>
                </div>
                <div class="desc">
                    {{stats.jobDescription}}
                </div>
            </div>
            <div class="time-status-item">
                <div class="desc title">
                    Arbeitszeitstunden
                </div>
                <div class="flex">
                    <div class="desc">
                        Soll: 
                    </div>
                    <div class="desc">
                        {{stats.shouldWork}}H
                    </div>
                </div>
                <div class="flex">
                    <div class="desc">
                        Ist: 
                    </div>
                    <div class="desc">
                        {{stats.isWork}}H
                    </div>
                </div>
            </div>
            <div class="time-status-item">
                <div class="desc title">
                    Gleitzeitkonto
                </div>
                <div class="flex">
                    <div class="grid">
                        <div class="desc">
                            Start
                        </div>
                        <div class="desc">
                            {{stats.startFlex}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Aktuell
                        </div>
                        <div class="desc">
                            {{stats.currFlex}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Ende
                        </div>
                        <div class="desc">
                            {{stats.endFlex}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-status-item">
                <div class="desc title">
                    Urlaubstage
                </div>
                <div class="flex">
                    <div class="grid">
                        <div class="desc">
                            Genommen
                        </div>
                        <div class="desc">
                            {{stats.takenVac}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Aktuell
                        </div>
                        <div class="desc">
                            {{stats.currVac}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Rest
                        </div>
                        <div class="desc">
                            {{stats.leftVac}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-status-item">
                <div class="desc title">
                    Krankheitstage
                </div>
                <div class="flex">
                    <div class="grid">
                        <div class="desc">
                            Alt
                        </div>
                        <div class="desc">
                            {{stats.oldSic}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Aktuell
                        </div>
                        <div class="desc">
                            {{stats.currSic}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Gesamt
                        </div>
                        <div class="desc">
                            {{stats.allSic}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-status-item">
                <div class="desc title">
                    Schulungstage
                </div>
                <div class="flex">
                    <div class="grid">
                        <div class="desc">
                            Alt
                        </div>
                        <div class="desc">
                            {{stats.oldTrain}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Aktuell
                        </div>
                        <div class="desc">
                            {{stats.currTrain}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="desc">
                            Gesamt
                        </div>
                        <div class="desc">
                            {{stats.allTrain}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
