@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: #0064C0;
$my-app-accent:  #7D7E81;
$my-app-warn:    #CD001A;

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);