@import '~@angular/material/theming';
@include mat-core();

$my-blue: (
  100: #0064C0,
  contrast: (
    100: white
  )
);

$my-white: (
  100: white,
  contrast: (
    100: black
  )
);

$my-gray: (
  100: #7D7E81,
  contrast: (
    100: black
  )
);

$primary: mat-palette($my-blue, 100);
$secondary: mat-palette($my-white,100);
$accent: mat-palette($my-gray, 100);
$warn: mat-palette($mat-red, 100);

$bermuda-theme: mat-light-theme((
  color: (
    primary: $primary,
    secondary: $secondary,
    accent: $accent,
    warn: $warn,
  )
));;