<div class="container">
    <div class="calendar">
        <div class="timeframe">
            <button mat-fab class="button left" (click)="removeWeek()" >
                <mat-icon class="icon">
                    arrow_back
                </mat-icon>
            </button>
            <div class="time">{{fromString}}  -  {{toString}}</div>
            <button mat-fab class="button right" (click)="addWeek()">
                <mat-icon class="icon">
                    arrow_forward
                </mat-icon>
            </button>
        </div>
        <div class="bookingDays">
            <ng-container *ngFor="let bookingDay of bookingDays">
                <app-booking-day [bookingDay]="bookingDay" class="bookingDay"></app-booking-day>
            </ng-container>
        </div>
    </div>
</div>